{% extends 'main/layout.html' %}

{% block title %} News Create {% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-content-center flex-row">

    <h1 class="position-absolute top-0 left-50">Hi, news create</h1>
    <form method="POST" class="my-5 justify-items-center" action="{% url 'news_create' %}">
        {% csrf_token %}
        {{form.title}}<br>
        {{form.anons}}<br>
        {{form.full_text}}<br>
        {{form.date}}<br>
        <span class="badge badge-danger">{{ error }}</span><br>
        <button class="btn btn-warning" type="submit">Add publication</button>
    </form>
</div>
{% endblock %}